*{
    margin : 0;
    padding :0;
    box-sizing: border-box;
    font-family:'Poppins', 'sans-serif';
}
.hero {
    width: 100%;
    height: 100vh; 
    background-image: url("C:/Users/pc-hp/Desktop/elearning/ph.webp");
    background-position: center;
    background-size: cover;
    margin: 0; 
    padding: 0; 
    overflow: hidden;
    position: fixed; 
    top: 0;
    left: 0;
}
nav{
    padding: 10px 0;
    display: flex;
    align-items:center;
    justify-content:space-between;
}
.logo{
    width : 140px;
}
nav ul li {
    display : inline-block;
    list-style:none;
    margin: 10px 15px;
}
nav ul li a{
    text-decoration:none;
    color : #ececec;
    font-weight: 400;


}
.login-btn{
    text-decoration:none;
    color : #ececec;
    font-weight: 400;
    margin-right:15px;
}
.btn{
    display: inline-block;
    text-decoration:none;
    padding: 14px 30px;
    color:rgb(199, 199, 199);
    background-image: linear-gradient(45deg,#e11ab0,#e11ab0);
    font-size:14px;
    border-radius:30px;
    border-radius:300;

}
.content{
    margin-top: 30px;
    max-width: 600px;
}
.content h1{
    font-size:70px;
    color:#dedede;
}
.content p{
    margin:30px 10px;
    color:#dedede;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.video-container {
    position: fixed; 
    top: 150;
    right: 0; 
    width: 50%; 
    max-width: 800px; 
    margin: 30px; 
    border: 5px solid #dedede;
    border-radius:10px;
}


.video-container video {
    width: 100%; 
    height: 50%; 
}


